
:host{
  background-image: url("../assets/img/background.jpg");  
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  & ::ng-deep{
    & .p-divider{
      margin: 5px 0 10px 0;

      &::before{
        border-top-color: #b6b6b6;
      }
    }
    & .p-inputnumber-input{
      width: 170px;
      padding: 5px 10px 5px 10px;
    }
  }
  
}

.content{
  background-color: rgba($color: black, $alpha: 0.4);
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.controls-panel{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px white;
  padding: 5px;
}

.single-control{
  padding: 5px;
}

.bottom-controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;

  &__header{
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__run-button{
    font-size: 17px;
  }
}

.elevators-viewer{
  width: 100%;
  flex: 1;
  margin-top: 2%;
}